
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Digitals Store</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="~/Content/Site.css" rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <!--Navigation-->
        <div id="navbar">
            <a href="~/Views/Home/Index.cshtml" id="logo">Digitals Store</a>
            <button class="openBtn" onclick="openSearch()">Tìm kiếm</button>
            <div id="navbar-right">
                <!--Search box-->
                <div id="myOverlay" class="overlay">
                    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                    <div class="overlay-content">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Tìm kiếm.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!--Search box-->
                @*<a class="active" href="Index">Trang Chủ</a>*@
                @Html.ActionLink("Trang chủ", "Index")
                @Html.ActionLink("Cannon", "Cannon")
                @Html.ActionLink("Nikon", "Nikon")
                @Html.ActionLink("Sony", "Sony")
                @Html.ActionLink("Sản phẩm khác", "Other")
                @Html.ActionLink("Ống kính", "Lens")
                @Html.ActionLink("Liên hệ", "Contact")
                @Html.ActionLink("Giỏ hàng", "Cart")
            </div>
        </div>


        <script>
            // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
            window.onscroll = function () { scrollFunction() };

            function scrollFunction() {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    document.getElementById("navbar").style.padding = "25px 10px";
                    document.getElementById("logo").style.fontSize = "25px";
                } else {
                    document.getElementById("navbar").style.padding = "60px 10px";
                    document.getElementById("logo").style.fontSize = "55px";
                }
            }
        </script>
        <!--End navigation-->
        <!--Scripts search box-->
        <script>
            function openSearch() {
                document.getElementById("myOverlay").style.display = "block";
            }

            function closeSearch() {
                document.getElementById("myOverlay").style.display = "none";
            }
        </script>
        <!--Scripts search box-->
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <!--footer-->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!--phan download app-->
                        <div class="footer-col-1">
                            <h3>Download Our App</h3>
                            <p>Download for android and IOS mobile pphone.</p>
                            <div class="app-logo">
                                <img src="~/Content/images/appstore.png" />
                                <img src="~/Content/images/chplay.png" />
                            </div>
                        </div>
                        <!--logo footer-->
                        <div class="footer-col-2">
                            <img src="~/Content/images/logo.png" />
                        </div>
                        <!--useful links-->
                        <div class="footer-col-3">
                            <h3>Useful Links</h3>
                            <ul>
                                <li>Coupons</li>
                                <li>Blog Post</li>
                                <li>Return Policy</li>
                                <li>Become Afiliate</li>
                            </ul>
                        </div>
                        <!--follow us-->
                        <div class="footer-col-4">
                            <h3>Follow us</h3>
                            <ul>
                                <a href="https://www.facebook.com/lhp.hutech" target="_blank">Facebook</a>
                                <li>Twitter</li>
                                <li>Instagram</li>
                                <li>Youtube</li>
                            </ul>
                        </div>
                    </div>
                    <!--chan footer-->
                    <hr>
                    <p style="text-align:center;">&copy;Copyright @DateTime.Now.Year - Digitals Store</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
