
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Digitals Store</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="~/Content/Site.css" rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <!--Slider-->
        <!--<div class="slideshow-container">
            <div class="mySlides fade">
                <img src="~/Content/images/banner_slider_cannon1.jpg" style="width:100%" height="500px">
            </div>

            <div class="mySlides fade">
                <img src="~/Content/images/banner_slider_fuji.jpg" style="width:100%" height="500px">
            </div>

            <div class="mySlides fade">
                <img src="~/Content/images/banner_slider_sony.jpg" style="width:100%" height="500px">
            </div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <br>
        <script>
            let slideIndex = 0;
            showSlides();

            function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
        </script>-->
        <!--Slider-->
        <!--Navigation-->
        <div id="navbar">
            <a href="~/Views/Home/Index.cshtml" id="logo">Digitals Store</a>
            <button class="openBtn" onclick="openSearch()">Tìm kiếm</button>
            <div id="navbar-right">
                <!--Search box-->
                <div id="myOverlay" class="overlay">
                    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                    <div class="overlay-content">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Tìm kiếm.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!--Search box-->
                @*<a class="active" href="Index">Trang Chủ</a>*@
                @Html.ActionLink("Trang chủ", "Index")
                @Html.ActionLink("Cannon", "Cannon")
                @Html.ActionLink("Nikon", "Nikon")
                @Html.ActionLink("Sony", "Sony")
                @Html.ActionLink("Sản phẩm khác", "Other")
                @Html.ActionLink("Ống kính", "Lens")
                @Html.ActionLink("Liên hệ", "Contact")
                @Html.ActionLink("Giỏ hàng", "Cart")
            </div>
        </div>


        <script>
            // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
            window.onscroll = function () { scrollFunction() };

            function scrollFunction() {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    document.getElementById("navbar").style.padding = "25px 10px";
                    document.getElementById("logo").style.fontSize = "25px";
                } else {
                    document.getElementById("navbar").style.padding = "60px 10px";
                    document.getElementById("logo").style.fontSize = "55px";
                }
            }
        </script>
        <!--End navigation-->
        <!--Scripts search box-->
        <script>
            function openSearch() {
                document.getElementById("myOverlay").style.display = "block";
            }

            function closeSearch() {
                document.getElementById("myOverlay").style.display = "none";
            }
        </script>
        <!--Scripts search box-->
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <p>&copy; @DateTime.Now.Year - Digitals Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
